$color-element-dark: #558CB7;
$color-element-light: #DDDDDD;
$color-element-middle: #C4C4C4;

$color-text-light: #ffffff;
$color-text-dark: #333333;

$color-background: #E5E5E5;
$color-element-focus: #82B3D9;

$color-rule-default: #777777;
$color-rule-ok: #007B1B;
$color-rule-error: #9F2B11;
